form{
  margin: 0 auto;
  line-height: 200%;
  /* text-align: center; */
}

input[type="text"] {
  width: 15em;
  height: 1.5em;
}

@media screen and (max-width:480px) {

  input[type="text"] {
    width: 10em;
    height: 1.5em;
  }

  

}
